body {
  background-color: #eebc77;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30;
  color: #f9aa01;
  background-color: #47ee44;
  text-align: center;
}
p {
  background-color: #47ee44;
  color: #f9aa01;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center
}
ul {
  color: #47e
}
ul li::before {
  content: "(:  ";
}
ul li::after {
  content: "  :)";
}
th {
  background: #47ee44;
  height: 2rem;
  border: 1px solid white;
  text-align: left;
}
td {
  background: #295728;
  height: 2rem;
  border: 1px solid #0f160e;
  text-align: left;
}
table {
  border: solid thin;
  background-color: white;
}
