body {
  background-color: #eebc77;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30;
  color: #f9aa01;
  background-color: #47ee44;
  text-align: center;
}

p {
  background-color: #47ee44;
  color: #f9aa01;
  font-family: verdana;
  text-align: center;
}
